@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "Outfit", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

body {
   @apply bg-zinc-900 bg-body-bg bg-center bg-repeat
}

@layer {
  .text-gradient {
    @apply bg-gradient-to-r from-gray-300 to-gray-600 bg-clip-text text-transparent
  }
  .text-primary {
    @apply text-zinc-400 text-sm
  }
  .header-styled {
    @apply p-4 min-h-[5rem]  m-auto
  }

  .max-page-width {
    @apply max-w-4xl 
  }
}